.user-register  {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}

.user-register .img-user-register {
  background-image: url('../assets/mdf.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center left;
  width: 100%;
  height: 100px;
}

@media screen and (min-width: 768px) {
  .user-register  {
    align-items: flex-end;
    height: 100vh;
  }
  .user-register .img-user-register {
    width: 45%;
    min-height: 400px;
  }
  .user-register {
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
  }
}